    @using Resources
@using Wisky.Utility
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Vendor CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/sweetalert/dist/sweetalert-override.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/socicon/socicon.min.css" rel="stylesheet">
    <link href="~/Content/template-material/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/Content/pnotify/pnotify.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="~/Content/template-material/css/app.min.1.css" rel="stylesheet">
    <link href="~/Content/template-material/css/app.min.2.css" rel="stylesheet">
    @*
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />*@

    <!-- PLUGINS -->

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    @*
        <link href="~/Content/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />*@
    <link href="~/Content/assets/boostrap-toggle/bootstrap2-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/assets/boostrap-slider/css/slider.css" rel="stylesheet" />
    <link href="~/Content/assets/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/bootstrap-tour/bootstrap-tour.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/swal/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/assets/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    @*
        <link href="~/Content/assets/noUiSlider.8.0.2/nouislider.min.css" rel="stylesheet" />*@

    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/custom-datatable.css" rel="stylesheet" />
    <!--datatable plugin-->
    <link href="~/Content/css/tipped.css" rel="stylesheet" />


    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/wisky.css" rel="stylesheet" />
    @{
        string username = HttpContext.Current.User.Identity.Name;
        bool isAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
        var brand = Utility.GetBrand();
    }

    <script src="~/Content/template-material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <input type="hidden" id="locationCount" value="@(brand==null?0: brand.Locations.Count)" />
    <header id="header" style="background-color:#2196F3">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>
            <li class="hidden-md hidden-sm hidden-xs">
                <a href="@Url.Action("Index","Home",new {area="BrandManager" })">
                    <img src="~/Content/images/logo-wisky-blue.png" style="width: 65px; height: 55px;" />
                    <span class="navbar-brand pull-right text-uppercase" style="color: white">@Wisky.ResourcesLanguage.MenuText.WifiMakertingSolution</span>
                </a>
            </li>
            <li id="languageSelector" class="c-white m-r-5 pull-right">
                <a href="javascript:void(0)" class="c-white">
                    @Wisky.ResourcesLanguage.MenuText.Language
                    <i class="fa fa-caret-down"></i>
                </a>
                @*<img style="padding-bottom: 2px;" src="https://wiskycloud.blob.core.windows.net/images/56ab3bbe-26bf-4d1d-b5a5-506bdc0f0704.png" width="9" height="6" border="0">*@<br />
                <div style="display:none;" id="languageList">
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <a class="languageItem" id="Eng" style="color:white" href="/admin/accesspoints/Change?LanguageAbbrevation=en">@Wisky.ResourcesLanguage.MenuText.English</a><br />
                        <a class="languageItem" id="Viet" style="color:white" href="/admin/accesspoints/Change?LanguageAbbrevation=vi">@Wisky.ResourcesLanguage.MenuText.Vietnamese</a>
                    }
                    else if (HttpContext.Current.User.IsInRole("BrandManager"))
                    {
                        <a class="languageItem" id="Eng" style="color:white" href="@Url.Action("Change","Home")?LanguageAbbrevation=en">@Wisky.ResourcesLanguage.MenuText.English</a><br />
                        /// @brandId / BrandManager / Home / Change
                        <a class="languageItem" id="Viet" style="color:white" href="/@brandId/BrandManager/Home/Change?LanguageAbbrevation=vi">@Wisky.ResourcesLanguage.MenuText.Vietnamese</a>
                    }
                    else if (HttpContext.Current.User.IsInRole("Publisher"))
                    {
                        <a class="languageItem" id="Eng" style="color:white" href="/Publisher/AccessPoints/Change?LanguageAbbrevation=en">@Wisky.ResourcesLanguage.MenuText.English</a><br />
                        <a class="languageItem" id="Viet" style="color:white" href="/Publisher/AccessPoints/Change?LanguageAbbrevation=vi">@Wisky.ResourcesLanguage.MenuText.Vietnamese</a>
                    }

                </div>
            </li>
        </ul>

        <!-- Top Search Content -->
        @*<div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>*@
    </header>

    @RenderSection("Header", false)

    <section id="main">
        <aside id="sidebar">
            <div class="sidebar-inner c-overflow">
                <div class="profile-menu">
                    <a href="#">
                        <div class="profile-pic">
                            @*<img src="~/Content/template-material/img/profile-pics/1.jpg" alt="">*@
                            @{
                                var avatarUrl =
                                brand == null || brand.LogoUrl.IsEmpty() ? "/Content/template-material/img/profile-pics/1.jpg" : brand.LogoUrl;
                            }
                            <img src="@avatarUrl" alt="">
                        </div>
                        <div class="profile-info">
                            @Wisky.ResourcesLanguage.MenuText.Hello, <strong style="font-size: 15px">@User.Identity.Name</strong>
                            <i class="md md-arrow-drop-down"></i>
                        </div>
                    </a>
                    <ul class="main-menu">
                        @if (isAuthenticated)
                        {
                            <li>
                                <a href="/Account/LogOut"><i class="glyphicon glyphicon-log-out" style="margin-top:4px"></i> @Wisky.ResourcesLanguage.MenuText.Logout</a>
                            </li>
                            <li>
                                <a href="/Account/ChangePassword"><i class="glyphicon glyphicon-edit" style="margin-top:4px"></i>@Wisky.ResourcesLanguage.MenuText.ChangePassword</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Account/Login"><i class="md md-person"></i>@Wisky.ResourcesLanguage.MenuText.Login</a>
                            </li>
                        }
                        @*
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                            </li>
                            <li>
                                <a href="#"><i class="md md-settings"></i> Settings</a>
                            </li>*@
                    </ul>
                </div>
                <ul class="main-menu">
                    @*
                        <li class="active"><a href="index.html"><i class="md md-home"></i> Home</a></li>
                        <li><a href="typography.html"><i class="md md-format-underline"></i> Typography</a></li>
                        <li class="sub-menu">
                            <a href="#"><i class="md md-now-widgets"></i> Widgets</a>
                            <ul>
                                <li><a href="widget-templates.html">Templates</a></li>
                                <li><a class="active" href="widgets.html">Widgets</a></li>
                            </ul>
                        </li>*@
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li class="sub-menu">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i> @Wisky.ResourcesLanguage.MenuText.ManageUsers</a>
                            <ul>
                                <li class="">
                                    <a href="~/admin/publishers">
                                        <i class="fa fa-users"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManagePublisher</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Publisher/Brand">
                                        <i class="fa fa-steam"></i>
                                        @*<span class="title">@MenuItem_EN_Resources.ManBrand</span>*@
                                        <span class="title">@Wisky.ResourcesLanguage.BrandManagerPublisher.MenuItem_ManageBrand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/admin/location">
                                        <i class="md md-room"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.LocationManagement.LM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/admin/accounts/">
                                        <i class="fa fa-user"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageUserAccounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/admin/accesspoints/listaccesspoint">
                                        <i class="fa fa-wifi"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageAccessPoints</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @*
                            <li class="">
                                <a href="~/admin/publishers">
                                    <i class="fa fa-users"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.MenuText.ManagePublisher</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(" Index", "Location" )">
                                    <i class="md md-room"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.LocationManagement.LM</span>
                                </a>
                            </li>*@
                        <li class="sub-menu">
                            <a href="#"><i class="glyphicon glyphicon-hdd"></i>@Wisky.ResourcesLanguage.MenuText.ManageDevices</a>
                            <ul>
                                <li>
                                    <a href="~/admin/accesspoints/">
                                        <i class="fa fa-wifi"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageAPAtivity</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "WorkCategory" )">
                                        <i class="glyphicon glyphicon-cloud"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.WorkCategory.WorksCategory</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "WorkingHistory" )">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.WorkingHistory.Title</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#"><i class="glyphicon glyphicon-globe"></i> @Wisky.ResourcesLanguage.AccessPointAdmin.ManageAdvertising</a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "ImageCategory" )">
                                        <i class="glyphicon glyphicon-picture"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageCategoryImage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Advertising" )">
                                        <i class="md md-settings-input-antenna"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageAdvertises</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#"><i class="glyphicon glyphicon-hd-video"></i> @Wisky.ResourcesLanguage.MenuText.ManageDislay</a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Display" )">
                                        <i class="md md-settings-input-antenna"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageDisplay</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "DisplayType" )">
                                        <i class="md md-settings-input-antenna"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageDisplayType</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Resolution" )">
                                        <i class="md md-settings-input-antenna"></i>
                                        <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageResolution</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*
                            <li>
                                <a href="~/admin/accesspoints/">
                                    <i class="fa fa-wifi"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageAPAtivity</span>
                                </a>
                            </li>*@
                        @*
                            <li>
                                <a href="~/admin/accesspoints/listaccesspoint">
                                    <i class="fa fa-wifi"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageAccessPoints</span>
                                </a>
                            </li>*@
                        @*
                            <li>
                                <a href="~/admin/accounts/">
                                    <i class="fa fa-user"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageUserAccounts</span>
                                </a>
                            </li>*@
                        @*<li class="sub-menu">
                                <a href="#"><i class="glyphicon glyphicon-wrench"></i> @Wisky.ResourcesLanguage.AccessPointAdmin.Configuration</a>
                                <ul>
                                    @*
                                        <li>
                                            <a href="~/admin/LandingApps/">
                                                <i class="fa fa-whatsapp"></i>
                                                <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageApp</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/admin/LandingTemplates/">
                                                <i class="glyphicon glyphicon-file"></i>
                                                <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageLandingTemplate</span>
                                            </a>
                                        </li>
                                    <li>
                                        <a href="@Url.Action(" Index", "ImageCategory" )">
                                            <i class="glyphicon glyphicon-picture"></i>
                                            <span class="title">@Wisky.ResourcesLanguage.MenuText.ManageCategoryImage</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>*@


                        @*<li>
                                <a href="@Url.Action(" Index", "WorkCategory" )">
                                    <i class="glyphicon glyphicon-cloud"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.WorkCategory.WorksCategory</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(" Index", "WorkingHistory" )">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.WorkingHistory.Title</span>
                                </a>
                            </li>*@
                        @*<li>
                                <a href="@Url.Action(" Index", "Advertising" )">
                                    <i class="md md-settings-input-antenna"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.AccessPointAdmin.ManageAdvertising</span>
                                </a>
                            </li>*@

                        @*
                            <li>
                                <a href="@Url.Action(" Index", "Display" )">
                                    <i class="md md-settings-input-antenna"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageDisplay</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(" Index", "DisplayType" )">
                                    <i class="md md-settings-input-antenna"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageDisplayType</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(" Index", "Resolution" )">
                                    <i class="md md-settings-input-antenna"></i>
                                    <span class="title">@Wisky.ResourcesLanguage.DisplayAdmin.ManageResolution</span>
                                </a>
                            </li>*@
                    }
                    else if (HttpContext.Current.User.IsInRole("Publisher"))
                    {
                        <li class="">
                            <a href="@Url.Action("Index", "Brand" , new { area="Publisher" })">
                                <i class="fa fa-steam"></i>
                                @*<span class="title">@MenuItem_EN_Resources.ManBrand</span>*@
                                <span class="title">@Wisky.ResourcesLanguage.BrandManagerPublisher.MenuItem_ManageBrand</span>
                            </a>
                            <a href="@Url.Action("BrandManagerTable", "BrandManager" , new { area="Publisher" })">
                                <i class="fa fa-users"></i>
                                @*<span class="title">@MenuItem_EN_Resources.ManBrandManager</span>*@
                                <span class="title">@Wisky.ResourcesLanguage.BrandManagerPublisher.MenuItem_ManageBrandManager</span>
                            </a>
                        </li>
                    }
                    else if (HttpContext.Current.User.IsInRole("BrandManager"))
                    {
                        if (!brandNoLocation)
                        {
                            <li>
                                <a href="~/@brandId/BrandManager/Home" id="menu-analysis">
                                    <i class="md md-dashboard"></i> @Wisky.ResourcesLanguage.MenuText.Dashboard
                                </a>
                            </li>
                            <li>
                                @*class="sub-menu"*@
                                <a href="~/@brandId/Statistic/UserStatistic/Index"><i class="md-trending-up"></i> @Wisky.ResourcesLanguage.MenuText.Analysis</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#"><i class="md md-person"></i> @Wisky.ResourcesLanguage.MenuText.Customer</a>
                                <ul>
                                    @*
                                        <li>
                                            <a href="~/Statistic/UserStatistic"> Statistics</a>
                                        </li>*@
                                    <li>
                                        <a href="~/@brandId/BrandManager/Customer/RecentCustomer">@Wisky.ResourcesLanguage.MenuText.RecentCustomers</a>
                                    </li>
                                    <li>
                                        <a href="~/@brandId/BrandManager/Customer"> @Wisky.ResourcesLanguage.MenuText.CustomerList </a>
                                    </li>
                                    @*
                                        <li id="menuManageLocation">
                                            <a href="~/@brandId/BrandManager/Customer/IndexNormalCustomer">
                                                @Wisky.ResourcesLanguage.MenuText.ManageUsers
                                            </a>
                                        </li>*@
                                </ul>
                            </li>
                            if (manageMode == (int)Wisky.Data.Utility.ManageMode.FullControl)
                            {
                                <li id="">
                                    <a href="~/@brandId/BrandManager/LandingPages">
                                        <i class="md md-network-locked"></i> @Wisky.ResourcesLanguage.MenuText.LandingPage
                                    </a>
                                </li>
                                <li id="">
                                    <a href="~/@brandId/Campaign/Advertising">
                                        <i class="md md-settings-input-antenna"></i> @Wisky.ResourcesLanguage.MenuText.InteractionPage
                                    </a>
                                </li>
                                <li id="menuManageLocation">
                                    <a href="~/@brandId/BrandManager/Location">
                                        <i class="md md-room"></i> @Wisky.ResourcesLanguage.MenuText.ManageLocations
                                    </a>
                                </li>
                                <li id="menuManageAllAccessPoint">
                                    <a href="~/@brandId/BrandManager/AccessPoint/ViewAllAccessPoints">
                                        <i class="md md-stay-primary-landscape"></i>@Wisky.ResourcesLanguage.MenuText.ManageAccessPoint
                                    </a>
                                </li>
                                @*
                                    <li id="menuManageAllAccessPoint">
                                        <a href="~/@brandId/Campaign/Advertising/AdvertisingBrand">
                                            <i class="md md-settings-input-antenna"></i>@Wisky.ResourcesLanguage.MenuText.InteractionPage thương hiệu
                                        </a>
                                    </li>
                                    <li id="menuManageAllAccessPoint">
                                        <a href="~/@brandId/BrandManager/Campaign/Index">
                                            <i class="md md-settings-input-antenna"></i>@Wisky.ResourcesLanguage.Campaign.CampaignPage
                                        </a>
                                    </li>
                                    <li id="menuManageAllAccessPoint">
                                        <a href="~/@brandId/BrandManager/CustomerEngagement/Index">
                                            <i class="md md-settings-input-antenna"></i>@Wisky.ResourcesLanguage.Campaign.CustomerEngagement
                                        </a>
                                    </li>*@
                                @*
                                    <li class="sub-menu">
                                        <a href="#"><i class="md md-person"></i> @Wisky.ResourcesLanguage.MenuText.Configuration</a>
                                        <ul></ul>
                                    </li>*@
                                <li class="sub-menu">
                                    <a href="#"><i class="md md-mail"></i> @Wisky.ResourcesLanguage.MenuText.EmailMarketing</a>
                                    <ul>
                                        <li>
                                            <a href="~/@brandId/BrandManager/Email/ViewAllTemplate"> @Wisky.ResourcesLanguage.MenuText.TemplateEmail </a>
                                        </li>
                                        <li>
                                            <a href="~/@brandId/BrandManager/Email/ViewAllCampaign"> @Wisky.ResourcesLanguage.MenuText.CampaignsEmail </a>
                                        </li>
                                        <li>
                                            <a href="~/@brandId/BrandManager/Email/SmartEmail"> @Wisky.ResourcesLanguage.MenuText.SmartEmail </a>
                                        </li>
                                        <li>
                                            <a href="~/@brandId/BrandManager/Customer/CustomerList"> @Wisky.ResourcesLanguage.MenuText.CustomeFilter </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                        }
                        else
                        {
                            <li>
                                <a href="~/@brandId/Advertiser/Home" id="menu-analysis">
                                    <i class="md md-dashboard"></i> @Wisky.ResourcesLanguage.MenuText.Dashboard
                                </a>
                            </li>
                            <li id="">
                                <a href="~/@brandId/Advertiser/Advertising">
                                    <i class="md md-settings-input-antenna"></i> @Wisky.ResourcesLanguage.MenuText.InteractionPage
                                </a>
                            </li>
                        }
                    }
                    @*
                        <li>
                            <a href="~/admin/layout/">
                                <i class="fa fa-user"></i>
                                <span class="title">@Wisky.ResourcesLanguage.LayoutManage.LayoutManager</span>
                            </a>
                        </li>*@
                </ul>
            </div>
        </aside>
        <section id="content">
            <div class="container">
                @RenderSection("StatisticHeader", false)
                @RenderBody()
                <div class="modal-backdrop" id="loading-image" style="display:none; opacity: 0.4; z-index:99999999">
                    <i class="fa fa-spinner fa-pulse" style="position: absolute; top: 50%; left: 50%; font-size:50px;"></i>
                </div>
            </div>
        </section>
    </section>
    <footer id="footer">
        <ul class="f-menu">
            <li><a href="#">@Wisky.ResourcesLanguage.MenuText.Home</a></li>
            <li><a href="#">@Wisky.ResourcesLanguage.MenuText.Dashboard</a></li>
            <li><a href="#">@Wisky.ResourcesLanguage.MenuText.Reports</a></li>
            <li><a href="#">@Wisky.ResourcesLanguage.MenuText.Support</a></li>
            <li><a href="#">@Wisky.ResourcesLanguage.MenuText.Contact</a></li>
        </ul>
    </footer>

    <style>
        #languageList {
            padding: 3px 2px;
            border: solid #777777 1px;
            background-color: #00AA41;
            text-align: left;
            z-index: 999999;
            position: absolute;
            right: 10px;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
            -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
            -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        }

            #languageList :hover {
                background-color: #555555;
            }

        .languageFont {
            color: white;
            font-size: medium;
        }
    </style>
    <!-- Javascript Libraries -->
    <script src="~/Content/template-material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="~/Content/template-material/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/Content/template-material/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
    <script src="~/Content/template-material/js/flot-charts/curved-line-chart.js"></script>
    <script src="~/Content/template-material/js/flot-charts/line-chart.js"></script>
    <script src="~/Content/template-material/vendors/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/template-material/js/charts.js"></script>
    <script src="~/Content/template-material/js/functions.js"></script>
    <script src="~/Content/template-material/js/demo.js"></script>
    <script src="~/Content/template-material/js/flot-charts/jquery.flot.time.js"></script>
    <script src="~/Content/template-material/js/flot-charts/jquery.flot.tickrotor.js"></script>
    <script src="~/Content/pnotify/pnotify.js"></script>
    <script src="~/Scripts/knotify.js"></script>
    <!-- PLUGINS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    @*
        <script src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>*@
    <script src="~/Content/assets/boostrap-toggle/bootstrap2-toggle.min.js"></script>
    <script src="~/Content/assets/boostrap-slider/js/bootstrap-slider.min.js"></script>
    <script src="~/Content/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/swal/sweetalert-dev.js"></script>
    <script src="~/Content/assets/bootstrap-select/js/bootstrap-select.js"></script>
    @*
        <script src="~/Content/assets/noUiSlider.8.0.2/nouislider.min.js"></script>*@
    <script src="~/Content/assets/highcharts.js"></script>
    <script src="~/Content/assets/exporting.js"></script>
    <script src="~/Content/assets/bootstrap-tour/bootstrap-tour.js"></script>

    <!--datatable plugin-->
    @*
        <script src="~/Content/js/buttons.bootstrap.min.js"></script>
        <script src="~/Content/js/buttons.colVis.min.js"></script>
        <script src="~/Content/js/buttons.flash.min.js"></script>
        <script src="~/Content/js/buttons.foundation.min.js"></script>
        <script src="~/Content/js/buttons.html5.min.js"></script>
        <script src="~/Content/js/buttons.jqueryui.min.js"></script>
        <script src="~/Content/js/buttons.print.min.js"></script>
        <script src="~/Content/js/dataTables.buttons.min.js"></script>
        <script src="~/Content/js/tipped.js"></script>*@

    <script src="~/Content/js/wisky.js"></script>
    <script src="~/Content/js/wisky-landing.js"></script>
    <script src="~/Content/js/wisky-advertising.js"></script>
    <script src="~/Content/js/tutorial-tour.js"></script>
    <script src="~/Scripts/delaySearch.js"></script>
    <script src="~/Content/js/common.js"></script>

    <!-- Script for CKEDITOR -->
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <!-- For View's scripts -->
    @RenderSection("Scripts", false)

    @if (HttpContext.Current.User.IsInRole("BrandManager"))
    {
        <script>
        $(document).ready(function () {
            Validate();
        });
        function Validate() {
            //var brand =(int.Parse((ViewContext.RouteData.Values["brandId"]).ToString()));
            /**/
            var brand = @brandId;
        /**/
        $.ajax({
            type: "GET",
            /**/
            url: "@Url.Action("ValidateBrandId", "Account", new { area = "" })",
        /**/
        data: {
            "brandId": brand
        },
        success: function (data) {
            if (data.result) {
                window.location.href = data.url;
            }
        },
    });
}
        </script>
    }

    <script>

        var hrefValues = window.location.search;
        if (hrefValues.indexOf("&") > 0) {
            hrefValues = hrefValues.replace("&", "%");
        }
        /**/
        if (("@HttpContext.Current.User.IsInRole("Admin")") == "True") {
            /**/
            $('#Viet').click(function () {
                $('#Viet').attr("href", "/admin/accesspoints/Change?LanguageAbbrevation=vi&url=" + window.location.pathname + hrefValues + "");
            })
            $('#Eng').click(function () {
                $('#Eng').attr("href", "/admin/accesspoints/Change?LanguageAbbrevation=en&url=" + window.location.pathname + hrefValues + "");
            })
            /**/
        } else if (("@HttpContext.Current.User.IsInRole("BrandManager")") == "True") {
        /**/
        $('#Viet').click(function () {
            /**/
            $('#Viet').attr("href", "/@brandId/BrandManager/Home/Change?LanguageAbbrevation=vi&url=" + window.location.pathname + hrefValues + "");
        /**/
    })
    $('#Eng').click(function () {
        /**/
        $('#Eng').attr("href", "/@brandId/BrandManager/Home/Change?LanguageAbbrevation=en&url=" + window.location.pathname + hrefValues + "");
        /**/
    })
    /**/
} else if (("@HttpContext.Current.User.IsInRole("Publisher")") == "True") {
        /**/
        $('#Viet').click(function () {
            $('#Viet').attr("href", "/Publisher/AccessPoint/Change?LanguageAbbrevation=vi&url=" + window.location.pathname + hrefValues + "");
        })
        $('#Eng').click(function () {
            $('#Eng').attr("href", "/Publisher/AccessPoint/Change?LanguageAbbrevation=en&url=" + window.location.pathname + hrefValues + "");
        })
    }
    $(function () {
        window.WISKY.layout.init();
    });

    $(document)
        .ajaxStart(function () {
            $('#loading-image').fadeIn(400);
        })
        .ajaxStop(function () {
            $('#loading-image').fadeOut(400, function () {
                $(this).trigger('onFadeOutComplete');
            });
        });

    // Deal with header drop-downs
    var strMenus = '#languageSelector';
    jQuery(strMenus).each(function () {
        jQuery(this).hover(function () {
            //show its submenu
            jQuery(this).find('div').fadeIn('fast');
        },
            function () {
                //hide its submenu
                jQuery(this).find('div').hide();
            }
        );
    });
    </script>
</body>
</html>