<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>@ViewBag.Title | </title>

    <!-- Bootstrap -->
    <link href="~/Content/template-material/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/template-material/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/template-material/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/template-material/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Content/template-material/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/template-material/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/template-material/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/template-material/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-plug"></i> <span>DSS</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Content/template-material/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>@ViewBag.Fullname</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>@DSS.ResourcesLanguage.MenuText.GeneralSection</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-users"></i> @DSS.ResourcesLanguage.MenuText.AccountMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-map-marker"></i>@DSS.ResourcesLanguage.MenuText.LocationMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-cogs"></i>@DSS.ResourcesLanguage.MenuText.DeviceMng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        `
                                        <li><a href="fixed_sidebar.html">@DSS.ResourcesLanguage.MenuText.ScreenMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                        <li><a href="fixed_footer.html">@DSS.ResourcesLanguage.MenuText.BoxMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                        <li><a href="fixed_footer.html">@DSS.ResourcesLanguage.MenuText.Matching <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>@DSS.ResourcesLanguage.MenuText.MediaSection</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-picture-o"></i> @DSS.ResourcesLanguage.MenuText.MediaResourceMng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="general_elements.html">@DSS.ResourcesLanguage.MenuText.TypeImg <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                        <li><a href="media_gallery.html">@DSS.ResourcesLanguage.MenuText.TypeVideo <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                        <li><a href="typography.html">@DSS.ResourcesLanguage.MenuText.TypeAudio <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                        <li><a href="icons.html">@DSS.ResourcesLanguage.MenuText.TypeOther <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-play"></i> @DSS.ResourcesLanguage.MenuText.PlaylistMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-film"></i> @DSS.ResourcesLanguage.MenuText.ScenarioMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-calendar"></i>@DSS.ResourcesLanguage.MenuText.Scheduling <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-line-chart"></i>@DSS.ResourcesLanguage.MenuText.Report <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>@DSS.ResourcesLanguage.MenuText.SystemSection</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-flag"></i> @DSS.ResourcesLanguage.MenuText.BrandMng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Brand")">@DSS.ResourcesLanguage.MenuText.ViewList</a></li>
                                        <li><a href="@Url.Action("Form", "Brand")">@DSS.ResourcesLanguage.MenuText.AddNew</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-television"></i>@DSS.ResourcesLanguage.MenuText.ResolutionMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-columns"></i>@DSS.ResourcesLanguage.MenuText.LayoutMng <span class="label label-success pull-right">@DSS.ResourcesLanguage.MenuText.Coming</span></a>

                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="My Profile">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout", "Account")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            @*<li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <b></b><i class="fa fa-user fa-4x"></i> @ViewBag.Fullname</b>
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"> Profile</a></li>
                                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>*@
                            <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-5x"></i> Log Out </a></li>
                            <li><a href="javascript:;"><i class="fa fa-5x fa-user"></i> My account </a></li>
                            <li><a>Welcome, <b>@Session["username"]</b>!</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Digital Signage System - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</body>
<footer>
    <!-- jQuery -->
    <script src="~/Content/template-material/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/template-material/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/template-material/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/template-material/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/template-material/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/template-material/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/template-material/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/template-material/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Content/template-material/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Content/template-material/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/template-material/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/template-material/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/template-material/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/template-material/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/template-material/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/template-material/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/template-material/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/template-material/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/template-material/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/template-material/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/template-material/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/template-material/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/template-material/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/template-material/build/js/custom.min.js"></script>

    @RenderSection("scripts", false)
</footer>
</html>
